# Keil MDK output
Output/
Objects/
Listings/
*.axf
*.hex
*.bin
*.o
*.d
*.dep
*.htm
*.map
*.sct
*.lnp
*.uvguix.*
*.uvoptx
*.JLinkLog
*.ini

# IDE
.vs/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
.DS_Store
